.topHud {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topHudLeft {
    transform: scale( var(--pixel-size) );
    transform-origin: top left;
    display: flex;
    gap: 2px;
}

.topHudMiddle {
    font-size: 6px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}

.topHudRight {
    display: flex;
    gap: 2px;
}